/* MÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â n hÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¬nh ÃƒÆ’Ã¢â‚¬Å¾ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“iÃƒÆ’Ã‚Â¡Ãƒâ€šÃ‚Â»ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¡n thoÃƒÆ’Ã‚Â¡Ãƒâ€šÃ‚ÂºÃƒâ€šÃ‚Â¡i */
@media (max-width: 767px){
    *{}

.anhtqceo {
    margin-top: 30px;
}

.tgkm hr {
    margin: 0;
}

.nutback {
    right: 8%;
}

footer .col-xs-12.col-md-4 {
    margin-top: 20px;
}

footer .container {
    padding-top: 40px;
}

span.gmail {
    display: inline-block;
}

span.baicon {
    display: inline-block;
}

.motspkmchuan {
    margin-top: 15px;
}

.nvtuvan {
    margin-top: 30px;
}

.khoiqc {
    margin-top: 30px;
    background: url(../images/bg-2.jpeg) center;
}

.tdservices {
    margin-bottom: 10px;
}

.tdnho {
    font-size: 16px;
}

.khoidvkm {
    margin-top: 50px;
}

div#dichvu {
    margin-top: 30px;
}

.ndqc {
    display: none;
}

.ndqc {}

.td {
    margin-top: 20px;
    font-size: 14px!important;
}

.slideheadertop .carousel-caption.d-none.d-md-block {
    display: none;
}

span.icon-prev {
    font-size: 25px;
    margin-top: -11px!important;
}

i.fa.fa-angle-right {
    font-size: 25px;
    margin-top: -2px;
}

.headertop .iconaction {
    margin: 0;
}

.headertop .iconaction a {
    font-size: 25px;
}

.headertop a.iconmenuheade {
    font-size: 31px;
}

a.oneiconaction.iconsearch, .oneiconaction.iconuser, .oneiconaction.iconwishlist {
    display: none;
}

.menutop {padding: 0;}
    
.menutop {
    height: 100%;
}
}

/* MÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â n hÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¬nh ipad */
@media (min-width: 768px) and (max-width: 991px){
    *{}

.carousel-caption {transform: translateY(61px);padding: 10px 20px!important;}

a.oneiconsocial {
    margin-left: 0px;
    margin-top: 10px;
}

.motnvtv {
    padding: 10px 15px;
}

span.gmail {
    display: inline-block;
    margin-left: 0!important;
    text-align: center;
    width: 100%;
    font-size: 10px!important;
}

span.baicon {
    display: inline-block;
}

.nutshopnow a {
    padding: 10px 20px;
}

.ndqc {
    top: 19%;
    left: 15%;
    width: 70%;
    padding: 17px;
}

.menutop {
    height: 100%;
}
}

/* MÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â n hÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¬nh destop nho */
@media (min-width: 992px) and (max-width: 1199px){
    *{}

.carousel-caption {
    transform: translateY(51px);
}

a.oneiconsocial {
    margin-left: 5px;
}

span.gmail {
    display: inline-block;
    text-align: center!important;
    margin-left: 0px!important;
}

.ndqc {
    top: 19%;
    width: 60%;
    left: 23%;
    padding: 30px;
}
}

/* MÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â n hÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¬nh full HD */
@media (max-width: 1200px){
    *{}
}
