*{margin: 0; padding: 0;}

.headertop a.iconmenuheade {
    font-size: 37px;
    padding-left: 20px;
}

.headertop .iconaction {
    font-size: 26px;
    font-weight: normal;
    margin-top: 7px;
    padding-right: 20px;
}

.headertop .iconaction a {
    margin-left: 10px;
}

a {
    color: #000;
    transition: all 0.3s;
}

a:hover {
    text-decoration: none;
    color: brown;
}

a.oneiconaction.iconcart span {
    width: 20px;
    height: 20px;
    background: black;
    display: inline-block;
    font-size: 9px;
    line-height: 20px;
    color: white;
    border-radius: 50%;
    position: relative;
    left: -10px;
    bottom: 13px;
    text-align: center;
}

.headertop {
    padding: 15px 0;
}

body{
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.currency span {
    color: white;
}

span {
    color: #b59677;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 14px;
}

.textheader {
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

a.oneiconsocial {
    color: white;
    width: 28px;
    height: 28px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 28px;
    display: inline-block;
    text-align: center;
}

.menutop {
    background: #3e3e3e;
    padding: 0 30px 0 30px;
    height: 50px;
    line-height: 50px;
} 