*{margin: 0; padding: 0;}

.nenxam.hienra {
    opacity: 1;
    visibility: visible;
}

.nenxam {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    background: rgba(0 ,0 ,0, .8);
    opacity: 0;
    visibility: hidden;
    transition: all cubic-bezier(0.25, 0.1, 0, 1.03) 0.4s;
}

.list-group-item.active a {
    color: brown;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background: none;
    border: none;
    color: brown;
}

.ttmenu {
    background: black;
    color: white;
}

.tdmenu {
    text-transform: uppercase;
    padding: 15px 0;
}

.tdmenu i.fa.fa-times {
    left: auto;
    right: 8px;
    position: absolute;
    cursor: pointer;
}

ul.list-group {
    text-align: left;
}

.menutrai {
    position: fixed;
    top: 0;
    z-index: 10000;
    background: white;
    width: 320px;
    overflow-y: auto;
    transition: all .5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    left: 0;
    transform: translateX(-400px);
    height: 100%;
}

.menutrai.divao {
    transform: translateX(0);
}

p {
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 300;
    font-size: 14px;
}

.slideheadertop h3 {
    background: url(../images/title-bg.png) center bottom no-repeat;
    padding-bottom: 31px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 100;
     */
    letter-spacing: 2;
    letter-spacing: 15px;
    font-family: 'Roboto', sans-serif;
    if; */
}

.slideheadertop .carousel-caption.d-none.d-md-block {
    background: rgba(181, 150, 119, 0.8);
    height: auto;
    max-width: 700px;
    bottom: 31%;
    margin: auto;
    padding: 45px;
}

.carousel-caption.d-none.d-md-block p {
}

div#slideheadertop:hover .carousel-control.left {
    margin-left: 20px;
}

div#slideheadertop:hover .carousel-control.right {
    margin-right: 20px;
}

i.fa.fa-angle-right {margin-left: 4px;}

i.fa.fa-angle-left {
    margin-right: 4px;
}

.container-fluid {
    padding: 0;
}

img.d-block.img-fluid {
    width: 100%;
}

.headertop a.iconmenuheade {
    font-size: 37px;
    padding-left: 20px;
}

.headertop .iconaction {
    font-size: 26px;
    font-weight: normal;
    margin-top: 7px;
    padding-right: 20px;
}

.headertop .iconaction a {
    margin-left: 10px;
}

a {
    color: #000;
    transition: all 0.3s;
}

.carousel-control.left, .carousel-control.right {
    width: 40px;
    height: 40px;
    top: 50%;
    background: #b59677;
    transform: rotate(45deg);
    border: 1px solid white;
    opacity: 0.7;
    transition: all 0.4s;
}

.carousel-control.left:hover, .carousel-control.right:hover {
    opacity: 1;
}

.carousel-control.left {
    margin-left: -200px;
}

.carousel-control.right {
    margin-right: -200px;
}

a:hover {
    text-decoration: none;
    color: brown;
}

a.oneiconaction.iconcart span {
    width: 20px;
    height: 20px;
    background: black;
    display: inline-block;
    font-size: 9px;
    line-height: 20px;
    color: white;
    border-radius: 50%;
    position: relative;
    left: -10px;
    bottom: 13px;
    text-align: center;
}

.headertop {
    padding: 15px 0;
}

body{
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.currency span {
    color: white;
}

span {
    color: #b59677;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 14px;
}

.carousel-control .icon-next, .carousel-control .icon-prev {
    transform: rotate(-45deg);
    color: white;
}

.carousel-control .icon-prev::before, .carousel-control .icon-next::before {font-size: 0;}

.textheader {
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

a.oneiconsocial {
    color: white;
    width: 28px;
    height: 28px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 28px;
    display: inline-block;
    text-align: center;
}

.menutop {
    background: #3e3e3e;
    padding: 0 30px 0 30px;
    height: 50px;
    line-height: 50px;
} 